<div class="graph-section">
  <div class="card-graph mdl-card mdl-shadow--2dp">
    <div id="container"></div>
  </div>
</div>

<script>
var chart;
var socket = io();

socket.emit('listening', { id: {{id}} });

// 'chat message' is for the id of the socket and $('#new-area') is for the text area
socket.on('new data', function(msg){
  switch(msg.type) {
    case 'hr':
      chart.series[0].addPoint([msg.time, msg.data], true, false);
      break;
    case 'gsr':
      chart.series[1].addPoint([msg.time, msg.data], true, false);
      break;
  }
});

$(function () {
  $('#container').highcharts({
    chart: {
      zoomType: 'xy'
    },
    title: {
      text: '{{movie.movie_name}}'
    },
    tooltip: {
        shared: true,
        crosshairs: true
    },
    xAxis: [{
      labels: {
        format: '{value:%H:%M:%S}',
        rotation: 45,
        align: 'left'
      },
      crosshair: true
    }],
    yAxis: [{ // Primary yAxis
      labels: {
        format: '{value} bpm',
        style: {
          color: Highcharts.getOptions().colors[5]
        }
      },
      title: {
        text: 'Heart Rate',
        style: {
          color: Highcharts.getOptions().colors[5]
        }
      }
    }, { // Secondary yAxis
      title: {
        text: 'Galvanic Skin Response',
        style: {
          color: Highcharts.getOptions().colors[4]
        }
      },
      labels: {
        format: '{value} µS',
        style: {
          color: Highcharts.getOptions().colors[4]
        }
      },
      opposite: true
    }],
    tooltip: {
      shared: true
    },
    series: [{
      name: 'Heart Rate',
      type: 'line',
      tooltip: {
        valueSuffix: ' bpm'
      },
      color: Highcharts.getOptions().colors[5]
    }, {
      name: 'Galvanic Skin Response',
      type: 'line',
      yAxis: 1,
      tooltip: {
        valueSuffix: ' µS'
      },
      color: Highcharts.getOptions().colors[4]
    }]
  });
  chart = $("#container").highcharts();
});
</script>
