<div class="graph-section">
  <div class="card-graph mdl-card mdl-shadow--2dp">
    <div id="container"></div>
  </div>
  <ul id="messages-area"></ul>
  <form id="form" onsubmit="return false;">
    <input id="new-message" type="text" /><button onclick="sendFunction()">Send</button>
  </form>
</div>

<script>
  var socket = io();
  //define functions socket.emit sending to server (app.js) and socket.on receiving
  // 'new message' is for the id of the socket and $('#new-message') is for the button
  function sendFunction() {
    socket.emit('new message', $('#new-message').val());
    $('#new-message').val('');
  }
  // 'chat message' is for the id of the socket and $('#new-area') is for the text area
  socket.on('chat message', function(msg){
    $('#messages-area').append($('<li>').text(msg));
    console.log('chat message!', msg);
  });
</script>

<script>
$(function () {
  $('#container').highcharts({
    chart: {
      zoomType: 'xy'
    },
    title: {
      text: '{{movie.movie_name}}'
    },
    tooltip: {
        shared: true,
        crosshairs: true
    },
    xAxis: [{
      labels: {
        format: '{value:%H:%M:%S}',
        rotation: 45,
        align: 'left'
      },
      crosshair: true
    }],
    yAxis: [{ // Primary yAxis
      labels: {
        format: '{value} bpm',
        style: {
          color: Highcharts.getOptions().colors[5]
        }
      },
      title: {
        text: 'Heart Rate',
        style: {
          color: Highcharts.getOptions().colors[5]
        }
      }
    }, { // Secondary yAxis
      title: {
        text: 'Galvanic Skin Response',
        style: {
          color: Highcharts.getOptions().colors[4]
        }
      },
      labels: {
        format: '{value} µS',
        style: {
          color: Highcharts.getOptions().colors[4]
        }
      },
      opposite: true
    }],
    tooltip: {
      shared: true
    },
    series: [{
      name: 'Heart Rate',
      type: 'line',
      data: {{sessions.hr}},
      tooltip: {
        valueSuffix: ' bpm'
      },
      color: Highcharts.getOptions().colors[5]
    }, {
      name: 'Galvanic Skin Response',
      type: 'line',
      yAxis: 1,
      data: {{sessions.gsr}},
      tooltip: {
        valueSuffix: ' µS'
      },
      color: Highcharts.getOptions().colors[4]
    }]
  });
});
</script>
